.head-data {
    display: flex;
}

.data {
    width: auto;
    height: 15%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-left: 30px;
    margin-top: 20px;
    color: black;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.data h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data h2 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
}

.data p {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.graph {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0px;
}

.graph-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}